<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="sE_f-Gr4ZS8OkfbANB-sLnvIERpTnGQD96i5OENB9hI" />

    <title>LIVE LOTTO DRAW</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="topbar">🎥 LIVE LOTTO DRAW SYSTEM</div>
    <div class="menu">
        <a href="/">🎰 로또 머신</a>
        <a href="/board">📢 익명 게시판</a>
        <a href="/toto">⚽ 스포츠토토</a>
    </div>

    <div class="top-controls">
        <button onclick="startDraw()">번호 추첨 시작</button>
        <button onclick="fastFive()">빠른 추첨 (5줄)</button>
        <button onclick="resetDraw()">초기화</button>
    </div>

    <div class="container">
        <div class="machine-container">
            <div class="machine-circle">
                <canvas id="canvas"></canvas>
            </div>
            <div class="bridge"></div>
            <!-- 직사각형 튜브 -->
            <div id="tube" class="tube"></div>
        </div>

        <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>